/* Inisialisasi Alpine Cloak */
[x-cloak] {
  display: none !important;
}

/* Pengaturan Animasi Teks Berjalan Marquee */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee-anim 25s linear infinite;
}

@keyframes marquee-anim {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
